<header>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/register">Cadastro de clientes</a></li>
    <li><a href="/list">Listagem de Clientes</a></li>
  </ul>
</header>

<div class="myButtonMenu">
  <button class="buttonMenu">
    <img src="img/menu-de-hamburguer.png" alt="">
  </button>
</div>

<div class="menu-mobile">

  <div class="buttonDelete">
    <img src="img/excluir.png" alt="">
  </div>

<div class="links">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/register">Cadastro de clientes</a></li>
    <li><a href="/list">Listagem de Clientes</a></li>
  </ul>
</div>
</div>
